<div class="rankings">
  <h2>Rankings</h2>
  <h3 style="font-weight: bold;">Castiguri totale: {{totalPrize.value}} RON</h3>
  <h2>Locul 1: 200 ron</h2>
  <h2>Locul 2: 120 ron</h2>
  <h2>Locul 3: 80 ron</h2>
  <h2>Data finalizare competitie: 31.12.2024</h2>
  <table>
    <thead>
      <tr>
        <th (click)="sortData('username')">Username</th>
        <th (click)="sortData('score')">Score</th>
        <th (click)="sortData('loginCounter')">Activity</th>
        <th (click)="sortData('total')">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of highscoreUsers">
        <td>{{ user.username }}</td>
        <td>{{ user.score }}</td>
        <td>{{ user.loginCounter }}</td>
        <td>{{ user.total }}</td>
      </tr>
    </tbody>
  </table>
</div>
