<div class="gaming-description">
  <h2>Gaming</h2>
  <p>Salut! Bun venit in zona de Gaming! Aici poti sa plasezi pronosticuri (pariuri) gratuite pe diverse evenimente ce vor aparea in timpul streaming-urilor de pe Twitch, Youtube sau Tiktok. Nu te costa nimic dar in schimb poti castiga premii in bani daca esti printre cei mai buni!</p>
</div>
<div class="image-buttons-container">
    <img src="assets/past.png" alt="Image 1" (click)="onImageClick('past')" class="image-button">
    <img src="assets/live.png" alt="Image 2" (click)="onImageClick('live')" class="image-button">
    <img src="assets/future.png" alt="Image 3" (click)="onImageClick('future')" class="image-button">
    <img src="assets/rankings.png" alt="Image 4" (click)="onImageClick('rankings')" class="image-button">
  </div>
  