<div class="g-main-page-container">
    <h1>Tutoriale</h1>
    <p>Ne extindem cunostintele prin tutoriale scurte si interesante</p>

    <div class="g-main-page-buttons-container">
      <div class="g-main-page-button-wrapper" (click)="navigateTo('/dezvoltare/tutoriale/tehnologie-tutorial')">
        <div class="g-main-page-button" style="background-image: url('assets/gaming_main.png');"></div>
        <div class="g-main-page-button-text">
          <h3>Tehnologie</h3>
          <p>Descriere tehnologie</p>
        </div>
      </div>
    </div>

  </div>
  