.event-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .choices {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .image-result {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  

  .custom-bullet-list {
    list-style-type: none;
    padding: 0;
  }
  
  .custom-bullet-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .bullet-icon {
    margin-right: 10px;
    font-size: 1.5em;
  }
  