.article {
    width: 100%;
    max-width: 900px; /* Limitează lățimea maximă a articolului */
    margin: 20px auto; /* Centrarea articolului */
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  
    .article-image {
      width: 100%;
      height: 300px; /* Înălțimea imaginii dreptunghiulare */
      background-size: cover;
      background-position: center;
    }
  
    .article-title {
      font-size: 2em;
      margin: 15px;
      text-align: center;
    }
  
    .article-content {
      white-space: pre-wrap; // păstrează spațierea și liniile noi
      word-wrap: break-word; // permite textului să se încadreze în zona disponibilă
      margin: 15px;
      font-size: 1.2em;
      line-height: 1.6; /* Asigură o lizibilitate mai bună pentru textul lung */
    }

    
  }
  