.g-main-page-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  .g-main-page-description {
    margin-bottom: 40px;
  }
  
  .g-main-page-buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .g-main-page-button-wrapper {
    width: calc(33% - 20px);
    min-width: 300px;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .g-main-page-button-wrapper:hover {
    transform: scale(1.03);
  }
  
  .g-main-page-button {
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .g-main-page-button-text {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-shadow: 1px 1px 2px black;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  @media (max-width: 768px) {
    .g-main-page-container {
      width: 100%;
    }
    .g-main-page-button-wrapper {
      width: 100%;
    }
  }