<div class="g-main-page-container">
    <h1>Mama si Bebe</h1>
    <p>Informatii despre mama si bebe</p>

    <div class="g-main-page-buttons-container">
      <div class="g-main-page-button-wrapper" (click)="navigateTo('/dezvoltare/mama-si-bebe/trimestrul1')">
        <div class="g-main-page-button" style="background-image: url('assets/gaming_main.png');"></div>
        <div class="g-main-page-button-text">
          <h3>Inainte de sarcina</h3>
          <p>Esti pasionat de gaming sau doar vrei sa castigi bani pentru ca esti cel mai bun in pronosticuri? Afla mai multe.</p>
        </div>
      </div>
      <div class="g-main-page-button-wrapper" (click)="navigateTo('admin/page-in-progress')">
        <div class="g-main-page-button" style="background-image: url('assets/tutoriale_main.png');"></div>
        <div class="g-main-page-button-text">
          <h3>Trimestrul 1</h3>
          <p>Tutoriale scurte si precise sau lungi si detaliate, dar cel mai important toate sunt pe intelesul tuturor.</p>
        </div>
      </div>
      <div class="g-main-page-button-wrapper" (click)="navigateTo('admin/page-in-progress')">
        <div class="g-main-page-button" style="background-image: url('assets/dezvoltare_main.png');"></div>
        <div class="g-main-page-button-text">
          <h3>Trimestrul 2</h3>
          <p>Vrei sa ai o viata mai linistita, mai buna, mai fericita? Hai sa vezi cum poti schimba ceea ce tine de tine.</p>
        </div>
      </div>
      <div class="g-main-page-button-wrapper" (click)="navigateTo('admin/page-in-progress')">
        <div class="g-main-page-button" style="background-image: url('assets/societate_main.png');"></div>
        <div class="g-main-page-button-text">
          <h3>Trimestrul 3</h3>
          <p>Tot ce ar trebui sa stim pentru a aduce un plus in societate si a crea un viitor mai bun pentru toata lumea.</p>
        </div>
      </div>
      <div class="g-main-page-button-wrapper" (click)="navigateTo('admin/page-in-progress')">
        <div class="g-main-page-button" style="background-image: url('assets/recomandari_main.png');"></div>
        <div class="g-main-page-button-text">
          <h3>Newborn</h3>
          <p>Ai nevoie de o recomandare de produs, cazare, firma de servicii si nu numai? Arunca o privire aici.</p>
        </div>
      </div>
      <div class="g-main-page-button-wrapper" (click)="navigateTo('admin/page-in-progress')">
        <div class="g-main-page-button" style="background-image: url('assets/recomandari_main.png');"></div>
        <div class="g-main-page-button-text">
          <h3>Toddler</h3>
          <p>Ai nevoie de o recomandare de produs, cazare, firma de servicii si nu numai? Arunca o privire aici.</p>
        </div>
      </div>
    </div>

  </div>
  