<div class="home-container">
  <div class="logo-container">
    <img src="assets/Autenticul_logo.png" alt="Logo" class="logo">
  </div>
  <div class="description">
    <p>
      Acesta este un site dedicat pasionaților de gaming și dezvoltare personală. Aici vei găsi tutoriale, articole și resurse care te vor ajuta să îți îmbunătățești abilitățile și să te dezvolți personal.
    </p>
  </div>
  <div class="buttons-container">
    <div class="button-wrapper" (click)="navigateTo('path1')">
      <div class="button" style="background-image: url('assets/gaming_main.png');"></div>
      <div class="button-text">
        <h3>Gaming</h3>
        <p>Esti pasionat de gaming sau vrei sa castigi bani pentru ca esti cel mai bun in pronosticuri? Acesta este butonul tau magic</p>
      </div>
    </div>
    <div class="button-wrapper" (click)="navigateTo('admin/page-in-progress')">
      <div class="button" style="background-image: url('assets/tutoriale_main.png');"></div>
      <div class="button-text">
        <h3>Tutoriale</h3>
        <p>Tutoriale scurte si precise sau detaliate si pe intelesul tuturor</p>
      </div>
    </div>
    <div class="button-wrapper" (click)="navigateTo('admin/page-in-progress')">
      <div class="button" style="background-image: url('assets/dezvoltare_main.png');"></div>
      <div class="button-text">
        <h3>Dezvoltare</h3>
        <p>Vrei sa ai o viata mai linistita, mai buna, mai fericita? Hai sa vezi cum poti schimba ceea ce tine de tine</p>
      </div>
    </div>
    <div class="button-wrapper" (click)="navigateTo('admin/page-in-progress')">
      <div class="button" style="background-image: url('assets/societate_main.png');"></div>
      <div class="button-text">
        <h3>Social</h3>
        <p>Tot ce ar trebui sa stim pentru a aduce un plus in societate si a crea un viitor mai bun pentru toata lumea</p>
      </div>
    </div>
    <div class="button-wrapper" (click)="navigateTo('admin/page-in-progress')">
      <div class="button" style="background-image: url('assets/recomandari_main.png');"></div>
      <div class="button-text">
        <h3>Recomandari</h3>
        <p>Ai nevoie de o recomandare de produs, cazare, firma de servicii si nu numai? Arunca o privire!</p>
      </div>
    </div>
  </div>
</div>
